@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype'); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Medium.ttf') format('truetype'); 
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url('fonts/JetBrainsMono-Bold.ttf') format('truetype'); 
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'JetBrains Mono', sans-serif;
    position: relative; 
    min-height: 100vh; 
}

header {
    display: flex;
    justify-content: space-between; /* Mantém a logo e os botões em cada extremidade */
    align-items: center;
    padding: 15px 50px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra na parte inferior */
    position: absolute;
    width: 100%; /* Ajuste para a largura total da tela */
    height: 105px; /* Altura do cabeçalho */
    left: 0; /* Início no lado esquerdo */
    top: 0; /* Fica no topo da página */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /* Sombra ao redor do cabeçalho */
}

.logo {
    width: 150px; /* Ajuste conforme necessário */
    height: 50px; /* Ajuste conforme necessário */
    background-image: url('../PNG/Logo.png'); /* Ajuste o caminho se necessário */
    background-size: contain; /* Faz a imagem se ajustar ao tamanho do elemento */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
}

.logo a {
    display: block; /* Faz com que o link ocupe todo o espaço da logo */
    width: 100%;
    height: 100%;
    text-decoration: none; /* Remove o sublinhado do link */
}

.nav-buttons {
    display: flex; /* Torna os botões na mesma linha */
    gap: 15px; /* Espaço entre os botões */
    align-items: center; /* Alinha verticalmente os itens no centro */
}

.nav-button {
    text-decoration: none; /* Remove o sublinhado dos links */
    padding: 10px 15px; /* Espaçamento interno */
    background-color: transparent; /* Fundo transparente */
    color: #333; /* Cor do texto */
    transition: background-color 0.3s, border-color 0.3s; /* Transições suaves */
}

.nav-button:hover {
    background-color: #ddd; /* Cor de fundo ao passar o mouse */
    border-color: #ccc; /* Muda a cor da borda ao passar o mouse */
}

.login-button {
    background-color: #106308; /* Cor de fundo do botão */
    color: #ffffff !important; /* Cor do texto */
    border: none; /* Remove a borda */
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave para a mudança de cor */
}

.login-button::after {
    content: '\1F512'; /* Unicode para cadeado */
    font-size: 16px;
}

.login-button:hover {
    background-color: #0d4f06; /* Cor de fundo ao passar o mouse */
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
}

.support-button {
    position: fixed; /* Torna o botão fixo na tela */
    bottom: 20px; /* Distância do fundo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para que o botão fique centralizado */
    font-size: 16px;
    text-decoration: none;
    color: #333;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.support-button:hover {
    text-decoration: underline;
}

.hospital-list {
    display: none; /* Oculta a lista por padrão */
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    position: absolute; /* Mantém a lista em relação ao botão */
    z-index: 1000;
    width: 150px; /* Largura da lista */
    top: 100%; /* Posiciona a lista logo abaixo do botão */
    left: 84%; /* Alinha ao centro */
    transform: translateX(-50%); /* Centraliza a lista horizontalmente */
}
.hospital-list ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
.hospital-list li {
    padding: 10px;
    cursor: pointer;
}
.hospital-list li:hover {
    background-color: #f0f0f0; /* Muda a cor ao passar o mouse */
}
